body{
  background-image: url("../img/backgroung-img.jpg");
  background-size: 100%;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
  text-align: center;
  font-size: 4em;
  color: azure;
}
h3{
  text-align: center;
  font-size: 2em;
  color: azure
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  background-color: black;
}
th {
  background-color: #424153;
  color: #FFFFFF;
  font-size: 1em;
  width: 50px;
  padding: 1%;
  text-align: center;
  border: 1px solid #000000;
}
td{
  padding: 1%;
  border: 2px solid white;
}
.row-header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}